@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    /*font-size: 16px;*/
    background: #eee;
  }
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.row {
    margin-bottom: 10px;
}

.btn-wide {
    width: 100%;
    top: 2px;
    left: 0px;
}

#divTags span {
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}

.popover {
    display: inline-block;
    white-space: nowrap;
}