<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="YueAzureConnectionString" connectionString="Server=tcp:group-master.database.windows.net,1433;Initial Catalog=YueDB;Persist Security Info=False;User ID=mjadmin;Password=J1aDB888;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="YueAzureConnectionString"/>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"></customErrors>
    </system.web>

</configuration>
